<!-- <section>
	<form method="" accept-charset="utf-8">
		<label>Username:<input type="text" name="" value=""></label>
		<label>Password:<input type="text" name="" value=""></label>
		<button>Login</button>
		<button>LogOut</button>
	</form>
</section> -->
 <form action="/#" method="POST">
        <input id="username" class="form-inputs login-modal-content" type="text" name="username">
        <p></p>
        <input id="password" class="form-inputs login-modal-content" type="password" name="password">
        <p></p>
        <button id="login" class="menu-buttons login-modal-content" type="submit">Login</button>
      </form>