<section>
	<form method="" accept-charset="utf-8">
		<label>Username:<input type="text" name="" value=""></label>
		<label>Password:<input type="text" name="" value=""></label>
		<button>Login</button>
	</form>
</section>